<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A4GEmailIcon</key>
	<string>email.png</string>
	<key>A4GEmailInfo</key>
	<string>something@apps4good.com</string>
	<key>A4GFacebookIcon</key>
	<string>facebook.png</string>
	<key>A4GFacebookPage</key>
	<string>226029094497</string>
	<key>A4GHomeScreenBgColor</key>
	<string>#FFFBED</string>
	<key>A4GHomeScreenImage</key>
	<string>bg.png</string>
	<key>A4GHomeScreenTitle</key>
	<string>Apps4Good</string>
	<key>A4GNavBarColor</key>
	<string>#427498</string>
	<key>A4GNewsIcon</key>
	<string>news.png</string>
	<key>A4GNewsRSSFeed</key>
	<string></string>
	<key>A4GPhoneIcon</key>
	<string>phone.png</string>
	<key>A4GPhoneNumber</key>
	<string>306-555-5555</string>
	<key>A4GToolBarColor</key>
	<string>#427498</string>
	<key>A4GTwitterFeed</key>
	<string>%23apps4good</string>
	<key>A4GTwitterIcon</key>
	<string>twitter.png</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.CollegeMobile.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
